* {
  box-sizing: border-box;
/*  border: 1px solid red !important;
*/}

h1 {
  font-size: 450%;
  font-family: Georgia, Times, serif;
  text-shadow: 2px, 2px, 3px, #666666;
  letter-spacing: .3em;
  padding-top: .5em;
  text-align: center;
}

h3 {
  font-family: "Gill Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 250%;
  color: #0088dd;
  text-align: center;
}

p {
  color: black;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 15px;
}

blockquote {
  float: left;
  font-size: 1.8em
  line-height: 1.3em;
}

#ravenridge {
  display: block;
  margin: auto;
}

#bigraven {
  margin-bottom: -4px;
}

img#ravenridingeagle {
  vertical-align: middle; 
  padding-left: 100px;
}

.raven-video {
  margin-left: 150px: 
}

.raven-photo {
  border: 20px solid #0088dd;
  border-radius: 5px;
}

.images {
  display: flex;
  justify-content: space-around;
}

li {
  font-family: Palintino, Times;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 1rem;
  padding: 1.5rem;
}

.raven-facts-title {
  font-size: 2.5em;
  text-align: center;
}

.facts {
  font-family: Palintino, Times;
  font-style: italic;
  display: block;
  margin: 0 4.5rem;
  
}

fieldset {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.survey {
  font-weight: bold;
}
.radio-buttons {
  margin-left: 100px;
}
